*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
nav{
    width: 100vw;
   
 display: flex;   
/* ff 3.6+ */
background:-moz-linear-gradient(90deg, rgba(43, 43, 41, 1) 0%, rgba(102, 118, 120, 1) 50%, rgba(130, 184, 238, 0.84) 100%); 

/* safari 5.1+,chrome 10+ */
background:-webkit-linear-gradient(90deg, rgba(43, 43, 41, 1) 0%, rgba(102, 118, 120, 1) 50%, rgba(44, 140, 236, 0.84) 100%);

/* opera 11.10+ */
background:-o-linear-gradient(90deg, rgba(43, 43, 41, 1) 0%, rgba(102, 118, 120, 1) 50%, rgba(130, 184, 238, 0.84) 100%);

/* ie 6-9 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82B8EE', endColorstr='#2B2B29', GradientType=0 );

/* ie 10+ */
background:-ms-linear-gradient(90deg, rgba(43, 43, 41, 1) 0%, rgba(102, 118, 120, 1) 50%, rgba(130, 184, 238, 0.84) 100%);

/* global 94%+ browsers support */
background:linear-gradient(90deg, rgba(43, 43, 41, 1) 0%, rgba(102, 118, 120, 1) 50%, rgba(130, 184, 238, 0.84) 100%);

}

.logo img{
    width: 7rem;
    height: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left:2rem;
    list-style: none;
    margin-top: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.89);
}
.sign{
    margin-left:40rem;
        margin-top: 2.5rem;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
}
.login{
    margin-left: 3rem;
    margin-top: 2.5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.name{
    background-image: url("https://img.freepik.com/premium-photo/product-showcase-spotlight-black-gradient-background_1258-15517.jpg");
width: 100vw;
height: 90vh;

}
.image img{
    margin-left: 974px;
    width: 31vw;
    height: 40vh;
    border-radius:51% 49% 44% 56% / 52% 30% 70% 48% ;;
}
.container h1,p{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    margin-left: 7rem;
    
}
 h1{
   
    line-height: 86px;
}
.container p{
    margin-top: 79px;
}


 
