*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
nav{
 display: flex;   
 background:-moz-radial-gradient(circle at 50% 50%, rgba(0, 212, 196, 1) 0%, rgba(255, 255, 0, 1) 37%, rgba(238, 130, 238, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(0, 212, 196, 1) 0%, rgba(255, 255, 0, 1) 37%, rgba(238, 130, 238, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(0, 212, 196, 1) 0%, rgba(255, 255, 0, 1) 37%, rgba(238, 130, 238, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(0, 212, 196, 1) 0%, rgba(255, 255, 0, 1) 37%, rgba(238, 130, 238, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(0, 212, 196, 1) 0%, rgba(255, 255, 0, 1) 37%, rgba(238, 130, 238, 1) 100%);
}

.logo img{
    width: 7rem;
    height: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left:2rem;
    list-style: none;
    margin-top: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: rgba(94, 86, 66, 0.89);
}
.sign{
    margin-left:40rem;
        margin-top: 2.5rem;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
}
.login{
    margin-left: 3rem;
    margin-top: 2.5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.name{
    background-image: url("https://unbounce.com/photos/Gradient-Background.png");
}


 
