*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
nav{
    width: 100vw;
   
 display: flex;   
/* ff 3.6+ */

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E2727', endColorstr='#272535', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

}

.logo img{
    width: 7rem;
    height: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left:2rem;
    list-style: none;
    margin-top: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.89);
}
.sign{
    margin-left:40rem;
        margin-top: 2.5rem;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
}
.login{
    margin-left: 3rem;
    margin-top: 2.5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.name{
    background-image: url("https://img.freepik.com/premium-photo/product-showcase-spotlight-black-gradient-background_1258-15517.jpg");
width: 100vw;
height: 90vh;

}
.image img{
    margin-left: 974px;
    width: 31vw;
    height: 40vh;
    border-radius:51% 49% 44% 56% / 52% 30% 70% 48% ;;
}
.container h1,p{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    margin-left: 7rem;
    
}
 h1{
   
    line-height: 86px;
}
.container p{
    margin-top: 79px;
}


.grid-cont{
    background-image: url("https://img.freepik.com/premium-photo/product-showcase-spotlight-black-gradient-background_1258-15517.jpg");
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider{
   position: relative;
   width: 200px;
   height: 200px;
   transform-style: preserve-3d; 
   animation: rotate 30s linear infinite; 
}
@keyframes rotate {
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }  
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}
.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
 
.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
    transition:2s ;
}
.slider span:hover img{
transform: translateY(-50px) scale(1.2);
}
.cont h1{
   
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E2727', endColorstr='#272535', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);
    text-align: center;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: oblique;
}
body{
    background: url("https://miro.medium.com/max/1400/1*XC83ro6IYTu4kC4VOtA7aw.jpeg");
}
.head1{
    display: flex;
}
.head h1{
    
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E2727', endColorstr='#272535', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(39, 37, 53, 1) 0%, rgba(46, 39, 39, 0.63) 100%);
}